Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100

# Only sort headers in each include block
SortIncludes: true
IncludeBlocks: Preserve

# 允许短的块放在同一行
AllowShortBlocksOnASingleLine: false
# 允许短的case标签放在同一行
AllowShortCaseLabelsOnASingleLine: false
# 允许短的函数放在同一行: None, InlineOnly(定义在类中), Empty(空函数), Inline(定义在类中，空函数), All
AllowShortFunctionsOnASingleLine: Empty
# 允许短的if语句保持在同一行
AllowShortIfStatementsOnASingleLine: false
# 允许短的循环保持在同一行
AllowShortLoopsOnASingleLine: false
# 继承最常用的指针和引用的对齐方式
DerivePointerAlignment: false
