# both support ipv4 and ipv6
Host 2402:4e00:100f:ff01::101
Port 44791

# thread number. Max value depend on max user processes, max memory size, open files limit
ThreadNum 10

# thread sleep time before next calling(ms)
ThreadSleepMs 100

# 0: cs, 1: http, 2: https
TestMode 1

# 0: Short connection, 1: long connection
LongConnection 0

# read and write timeout in (us), default 60000000(60s)
MsgTimeout 60000000

# app data length
MsgLen 1000

# Get File, use in Get /xxxx
GetFile nws.html
# Get File size(Byte) 1400*x+200
GetFileLen 4400
# Domain, Use in Host: xxx
Domain www.chaoguodengauto.com

# get, post
HttpMethod get

# run time in seconds, 0 to run forever(sec)
RunDuration 0

# how long to output statistic data(s)
SampleSecs 1

# 0: no, stderr stdout or filepath(1 for err_out.log, will not create diretory)
PrintError 1

# Rsponse time level counter(ms)
RspTimeLevel1 100
RspTimeLevel2 300
RspTimeLevel3 500

# close timeout(s). 0非正常关闭连接，不会出现time_wait；>0正常关闭连接，但是会出现time_wait
LingerTime 1

# 0.每个线程使用相同的vport; 1.每个线程使用不同的vport [Port, Port+ThreadNum-1]
useDiffPort 0

# 指定从哪个网卡发送数据，默认为空
SockAddress 

# https CA证书路径，不配置或空值则不认证服务器
CaCert 
# 客户端证书路径，用于双向认证，不配置或空值则不进行双向认证
ClientCert 
# 客户端密钥文件，用于双向认证
ClientKey 
# 不配置或无效值使用自适应。可选项：tls1 tls1_1 tls1_2 暂不支持tls1_3
ssl_protocol 
# 不配置或空表示自适应，无效值出错。支持算法查询：openssl ciphers -v -s -tls1或1_1或1_2或1_3
ssl_ciphers 
